<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE.edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tier 1: Equipos</title>

    <!-- Custom fonts for this template-->
    <link href="/templates/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/templates/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">
    <style>
        /* Estilo para hacer el número más grande */
        .quantity-box span {
            font-size: 24px;
            /* Puedes ajustar el tamaño a tu preferencia */
        }
    </style>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-mobile"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Tier 1: Proveedor de Equipos</div>
            </a>
            <!--************************************************************************************-->
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-home"></i>
                    <span>Inicio</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/warehouse">
                    <i class="fas fa-fw fa-warehouse"></i>
                    <span>Inventario</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                Clientes
            </div>
            <!-- *********************************************************************************************  -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/clientrequest">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Solicitudes</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/clientship">
                    <i class="fas fa-fw fa-truck"></i>
                    <span>Envios</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/clientsell">
                    <i class="fas fa-fw fa-dollar-sign"></i>
                    <span>Ventas</span>
                </a>
            </li>

            <div class="sidebar-heading">
                Tier 2: Provedor de piezas Electronicas
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/t2peship">
                    <i class="fas fa-fw fa-truck"></i>
                    <span>Envios</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/t2pesell">
                    <i class="fas fa-fw fa-store"></i>
                    <span>Compras</span>
                </a>
            </li>
            <div class="sidebar-heading">
                Tier 2: Provedor de piezas plasticas cosmeticas
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/t2pcship">
                    <i class="fas fa-fw fa-truck"></i>
                    <span>Envios</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/t2pcsell">
                    <i class="fas fa-fw fa-store"></i>
                    <span>Compras</span>
                </a>
            </li>
            <div class="sidebar-heading">
                Logistica
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/logship">
                    <i class="fas fa-fw fa-truck"></i>
                    <span>Envios</span>
                </a>
            </li>

            <!-- *********************************************************************************************  -->
            
            <hr class="sidebar-divider">
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-3">
                        <div class="quantity-box text-center">
                            <h3>Carcasa color Azul</h3>
                            <button class="btn btn-primary" id="decreaseCarcasaColorAzul">-</button>
                            <span id="quantityCarcasaColorAzul">0</span>
                            <button class="btn btn-primary" id="increaseCarcasaColorAzul">+</button>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="quantity-box text-center">
                            <h3>Carcasa color Verde</h3>
                            <button class="btn btn-primary" id="decreaseCarcasaColorVerde">-</button>
                            <span id="quantityCarcasaColorVerde">0</span>
                            <button class="btn btn-primary" id="increaseCarcasaColorVerde">+</button>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="quantity-box text-center">
                            <h3>Carcasa color Amarillo</h3>
                            <button class="btn btn-primary" id="decreaseCarcasaColorAmarillo">-</button>
                            <span id="quantityCarcasaColorAmarillo">0</span>
                            <button class="btn btn-primary" id="increaseCarcasaColorAmarillo">+</button>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="quantity-box text-center">
                            <h3>Carcasa color Morado</h3>
                            <button class="btn btn-primary" id="decreaseCarcasaColorMorado">-</button>
                            <span id="quantityCarcasaColorMorado">0</span>
                            <button class="btn btn-primary" id="increaseCarcasaColorMorado">+</button>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="quantity-box text-center">
                            <h3>Carcasa color Rosa</h3>
                            <button class="btn btn-primary" id="decreaseCarcasaColorRosa">-</button>
                            <span id="quantityCarcasaColorRosa">0</span>
                            <button class="btn btn-primary" id="increaseCarcasaColorRosa">+</button>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="quantity-box text-center">
                            <h3>Carcasa color Cyan</h3>
                            <button class="btn btn-primary" id="decreaseCarcasaColorCyan">-</button>
                            <span id="quantityCarcasaColorCyan">0</span>
                            <button class="btn btn-primary" id="increaseCarcasaColorCyan">+</button>
                        </div>
                    </div>
                    <!-- Agrega más colores según sea necesario -->
                    <div class="text-center mt-4">
                        <h4>Resumen de Cantidades</h4>
                        <p>Total de Carcasa color Azul: <span id="totalCarcasaColorAzul">0</span></p>
                        <p>Total de Carcasa color Verde: <span id="totalCarcasaColorVerde">0</span></p>
                        <p>Total de Carcasa color Amarillo: <span id="totalCarcasaColorAmarillo">0</span></p>
                        <p>Total de Carcasa color Morado: <span id="totalCarcasaColorMorado">0</span></p>
                        <p>Total de Carcasa color Rosa: <span id="totalCarcasaColorRosa">0</span></p>
                        <p>Total de Carcasa color Cyan: <span id="totalCarcasaColorCyan">0</span></p>
                        <!-- Agrega más líneas según sea necesario -->
                        <button id="guardarCantidadesButton">Solicitar Piezas Plásticas</button>
                    </div>
                </div>
            </div>
        </div>


        <script>
            const plasticParts = [
                { id: "CarcasaColorAzul", displayId: "quantityCarcasaColorAzul", totalDisplayId: "totalCarcasaColorAzul" },
                { id: "CarcasaColorVerde", displayId: "quantityCarcasaColorVerde", totalDisplayId: "totalCarcasaColorVerde" },
                { id: "CarcasaColorAmarillo", displayId: "quantityCarcasaColorAmarillo", totalDisplayId: "totalCarcasaColorAmarillo" },
                { id: "CarcasaColorMorado", displayId: "quantityCarcasaColorMorado", totalDisplayId: "totalCarcasaColorMorado" },
                { id: "CarcasaColorRosa", displayId: "quantityCarcasaColorRosa", totalDisplayId: "totalCarcasaColorRosa" },
                { id: "CarcasaColorCyan", displayId: "quantityCarcasaColorCyan", totalDisplayId: "totalCarcasaColorCyan" },
                // Agrega más colores según sea necesario
            ];

            plasticParts.forEach(({ id, displayId, totalDisplayId }) => {
                const decreaseButton = document.getElementById(`decrease${id}`);
                const increaseButton = document.getElementById(`increase${id}`);
                const quantityDisplay = document.getElementById(displayId);
                let quantity = 0;

                decreaseButton.addEventListener("click", () => {
                    if (quantity > 0) {
                        quantity--;
                        updateQuantityDisplay();
                        updateTotalDisplay();
                    }
                });

                increaseButton.addEventListener("click", () => {
                    quantity++;
                    updateQuantityDisplay();
                    updateTotalDisplay();
                });

                function updateQuantityDisplay() {
                    quantityDisplay.textContent = quantity;
                }

                function updateTotalDisplay() {
                    const totalDisplay = document.getElementById(totalDisplayId);
                    totalDisplay.textContent = quantity;
                }
            });

            const guardarCantidadesButton = document.getElementById("guardarCantidadesButton");
            guardarCantidadesButton.addEventListener("click", updatePlasticParts);

            function updatePlasticParts() {
                const data = {
                    carcasa_color_azul: parseInt(document.getElementById("quantityCarcasaColorAzul").textContent),
                    carcasa_color_verde: parseInt(document.getElementById("quantityCarcasaColorVerde").textContent),
                    carcasa_color_amarillo: parseInt(document.getElementById("quantityCarcasaColorAmarillo").textContent),
                    carcasa_color_morado: parseInt(document.getElementById("quantityCarcasaColorMorado").textContent),
                    carcasa_color_rosa: parseInt(document.getElementById("quantityCarcasaColorRosa").textContent),
                    carcasa_color_cyan: parseInt(document.getElementById("quantityCarcasaColorCyan").textContent),
                    // Agrega más colores según sea necesario
                };

                fetch('/update-plastic-parts', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }
        </script>
    </div>

    </div>
    <div style="text-align: center;">
        <a class="btn btn-primary btn-user btn-block w-50">
            Register Account
        </a>
    </div>

</body>

</html>